__pycache__/
.env
.python-version
/model/
/data/
/preprocessing/logs1
/preprocessing/logs2
/preprocessing/logs3
/train/train.sh.e*
/train/train.sh.o*
/train/train_rnn.sh.e*
/train/train_rnn.sh.o*
/train/retrain.sh.e*
/train/retrain.sh.o*
/train/retrain_rnn.sh.e*
/train/retrain_rnn.sh.o*
/train/test.sh.e*
/train/test.sh.o*
/train/test_result/*test.sh.e*
/train/test_result/*test.sh.o*
/train/train_rl.sh.e*
/train/train_rl.sh.o*
/train/myresult.txt
!/model/**/history.json
!/model/**/params.json
!/model/**/result.png
/automl/projects_simple
/automl/data
/automl/*.sh.e*
/automl/*.sh.o*